Repository huijiewei/resolid-config: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx --no eslint --fix {staged_files}
    format:
      glob: "*.{js,jsx,ts,tsx,json}"
      run: npx --no prettier --write {staged_files}

commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx --no -- commitlint --edit {1}

build: update dependencies
  .changeset/brave-eels-fold.md
  .github/workflows/release.yml
  package.json
  pnpm-lock.yaml
Due: format

build: update dependencies (#18)
  .changeset/brave-eels-fold.md
  .github/workflows/release.yml
  package.json
  pnpm-lock.yaml
Due: format

build: update dependencies
  .changeset/red-eagles-serve.md
  README.md
  package.json
  pnpm-lock.yaml
Due: format

build: update dependencies (#20)
  .changeset/red-eagles-serve.md
  README.md
  package.json
  pnpm-lock.yaml
Due: format

build: update dependencies
  .changeset/itchy-kids-sin.md
  package.json
  pnpm-lock.yaml
Due: format

build: update dependencies (#22)
  .changeset/itchy-kids-sin.md
  package.json
  pnpm-lock.yaml
Due: format

build: update dependencies
  .changeset/config.json
  .changeset/dirty-ants-rest.md
  .idea/prettier.xml
  package.json
  pnpm-lock.yaml
Due: format

build: update dependencies (#24)
  .changeset/config.json
  .changeset/dirty-ants-rest.md
  .idea/prettier.xml
  package.json
  pnpm-lock.yaml
Due: format

build: update dependencies (#25)
  pnpm-lock.yaml
Due: none

docs: update readme
  README.md
  package.json
  pnpm-lock.yaml
Due: format

docs: update readme (#27)
  README.md
  package.json
  pnpm-lock.yaml
Due: format

build: update dependencies
  .changeset/warm-dodos-juggle.md
  package.json
  pnpm-lock.yaml
  src/eslint.browser.js
  src/eslint.node.js
  src/eslint.react.js
Due: lint, format

build: update dependencies (#28)
  .changeset/warm-dodos-juggle.md
  package.json
  src/eslint.browser.js
  src/eslint.node.js
  src/eslint.react.js
Due: lint, format

feat: update tsconfig exports
  .changeset/chatty-lies-chew.md
  README.md
  package.json
Due: format

feat: update tsconfig exports (#30)
  .changeset/chatty-lies-chew.md
  README.md
  package.json
Due: format

build: update dependencies
  .changeset/gentle-gifts-hear.md
  package.json
  pnpm-lock.yaml
Due: format

build: update dependencies
  .changeset/empty-pets-pretend.md
  package.json
  pnpm-lock.yaml
Due: format

build: update dependencies
  .changeset/orange-rivers-brush.md
  package.json
  pnpm-lock.yaml
Due: format

feat: remove typescript lint from react lint
  .changeset/fuzzy-birds-fly.md
  README.md
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/eslint.javascript.js
  src/eslint.react.js
  src/eslint.typescript.js
Due: lint, format

fix: fix ignores config
  .changeset/dull-games-flash.md
  eslint.config.js
  src/eslint.browser.js
  src/eslint.javascript.js
  src/eslint.node.js
  src/eslint.react.js
  src/eslint.typescript.js
Due: lint, format

chore: upgrade pnpm to v10
  .changeset/cool-comics-try.md
  package.json
  pnpm-lock.yaml
Due: format

build: update dependencies
  .changeset/silly-seals-invite.md
  package.json
  pnpm-lock.yaml
Due: format

build: update dependencies
  .changeset/shiny-places-stare.md
  package.json
  pnpm-lock.yaml
Due: format

refactor: standardize ESLint and Prettier configuration files
  .changeset/wide-wolves-jog.md
  .prettierrc.js
  src/eslint.browser.js
  src/eslint.javascript.js
  src/eslint.node.js
  src/eslint.react.js
  src/eslint.typescript.js
  src/prettier.js
Due: lint, format

build: update dependencies
  .changeset/swift-books-crash.md
  package.json
  pnpm-lock.yaml
Due: format

fix: patch eslint-plugin-react-hooks to support useEffectEvent
  .changeset/fluffy-times-take.md
  package.json
  patches/eslint-plugin-react-hooks@5.2.0.patch
  pnpm-lock.yaml
  src/eslint.react.js
  src/eslint.typescript.js
Due: lint, format

chore: remove eslint-plugin-react-hooks patch
  .changeset/ten-camels-float.md
  package.json
  patches/eslint-plugin-react-hooks@5.2.0.patch
  pnpm-lock.yaml
Due: format

build: update dependencies
  .github/workflows/release.yml
  package.json
  pnpm-lock.yaml
Due: format

build: update dependencies
  .changeset/flat-queens-reply.md
  .github/workflows/pkg.pr.new.yaml
  package.json
  pnpm-lock.yaml
  src/eslint.react.js
Due: lint, format

build: update dependencies
  .changeset/lazy-carrots-create.md
  package.json
  pnpm-lock.yaml
Due: format

build: update dependencies
  .changeset/breezy-spoons-hammer.md
  package.json
  pnpm-lock.yaml
  src/eslint.react.js
Due: lint, format

build: update dependencies
  .changeset/plenty-dogs-appear.md
  package.json
  pnpm-lock.yaml
  src/eslint.react.js
Due: lint, format

chore: update github actions
  .github/workflows/pkg.pr.new.yaml
  .github/workflows/release.yml
Due: none

feat: add erasableSyntaxOnly option to tsconfig
  .changeset/wide-coins-dress.md
  tsconfig/base.json
Due: format

feat: enable noUncheckedSideEffectImports in tsconfig
  .changeset/itchy-cameras-cry.md
  package.json
  pnpm-lock.yaml
  tsconfig/base.json
Due: format

build: update dependencies
  .changeset/salty-trees-stay.md
  package.json
  pnpm-lock.yaml
Due: format

feat: switch to react-hooks/recommended
  .changeset/fruity-bobcats-pump.md
  pnpm-lock.yaml
  src/eslint.react.js
Due: lint, format

feat: update eslint ignores
  .changeset/hip-ravens-lie.md
  src/eslint.javascript.js
Due: lint, format

fix: update eslint-plugin-react-hooks config
  .changeset/legal-breads-work.md
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/eslint.react.js
Due: lint, format
