Repository huijiewei/resolid-config: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx --no eslint --fix {staged_files}
    format:
      glob: "*.{js,jsx,ts,tsx,json}"
      run: npx --no prettier --write {staged_files}

commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx --no -- commitlint --edit {1}

chore: update dependencies
  .changeset/six-gifts-obey.md
  package.json
  pnpm-lock.yaml
Due: format

chore: update dependencies
  .changeset/thirty-items-win.md
  package.json
  pnpm-lock.yaml
Due: format

fix: remove react-you-might-not-need-an-effect-js/no-empty-effect rule
  .changeset/silver-maps-kneel.md
  oxlint/react.js
Due: lint, format

chore: upgrade pnpm to v11
  .npmrc
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

chore: update dependencies
  package.json
  pnpm-lock.yaml
Due: format

chore: update dependencies
  .changeset/shiny-loops-sell.md
  package.json
  pnpm-lock.yaml
Due: format

chore: update dependencies
  .changeset/tiny-hounds-speak.md
  .github/workflows/pkg.pr.new.yml
  package.json
  pnpm-lock.yaml
Due: format

chore: update dependencies
  .changeset/neat-peas-refuse.md
  package.json
  pnpm-lock.yaml
Due: format

chore: update dependencies
  .changeset/stale-pandas-shine.md
  .github/workflows/release.yml
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: format

chore: change release workflow
  .changeset/fluffy-geckos-tickle.md
  .github/workflows/release.yml
Due: none

chore: update package.json
  .changeset/clean-trams-repeat.md
  package.json
Due: format

chore: update dependencies
  pnpm-lock.yaml
Due: none

chore: update dependencies
  .changeset/afraid-humans-accept.md
  .changeset/config.json
  package.json
  pnpm-lock.yaml
Due: format
